[package]
name = "scribble"
version = "0.1.0"
edition = "2024"

[dependencies]

anyhow = "1"
axum = "0.8.7"
clap = { version = "4.5", features = ["derive"] }
hound = "3"
num_cpus = "1"
whisper-rs = { version = "0.15" }
serde_json = "1"
serde = { version = "1", features = ["derive"] }
tokio = { version = "1", features = ["rt-multi-thread", "macros"] }
uuid = { version = "1", features = ["v4"] }
indicatif = "0.17"
reqwest = { version = "0.12", features = ["blocking", "rustls-tls"] }
